node_modules
/apps/web/.next
/.next
/out
/dist
/.turbo
.DS_Store
.env
.env.local
.env.*.local
package-lock.json
pnpm-lock.yaml
/backend/pocketbase-data
**/tsconfig.tsbuildinfo

# TypeScript incremental build info
typecheck.tsbuildinfo
*.tsbuildinfo
